  <nav class="navbar navbar-dark bg-dark">
    <div class="navbar-header">
      <p class="navbar-brand" href="#">My To do List</p>
    </div>
  </nav>

  <div class="card text-center">
    <div class="card-header">
      Organize seu dia de hoje
    </div>
    <div class="card-body">
      <h5 class="card-title">Adicione sua tarefa de hoje a baixo.</h5>
      <p class="card-text"></p>
      <form [formGroup]="form" (ngSubmit) = "submit()">
        <div class = "row">
          <div class="col-md-6">
            <input class="form-control" type="text" formControlName="description" placeholder="Digite sua tarefa aqui" aria-label="default input example">
          </div>
          <div class = "col-md-2">
            <button type="submit" class="btn btn-primary">Adicionar</button>
          </div>
        </div>
      </form>
      <br>
      <div class="row">
        <div class="col-md-7">
          <ul class="list-group">
            <li *ngFor="let todolist of todolists" class="list-group-item d-flex justify-content-between align-items-center">
                {{todolist.description}}
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary btn-success">Feito</button>
                  <button type="button" class="btn btn-secondary btn-danger"(click)="delete(todolist)">Remover</button>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>